input {
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    margin-right: 25px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    margin-right: 10px;
    font-size: 2em;
}